*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#0F172A;
    color:white;
    font-family:-apple-system,BlinkMacSystemFont,sans-serif;

}

.container{

    max-width:500px;
    margin:auto;
    padding:20px;

}

.title{

    text-align:center;
    margin:30px 0;
    font-size:34px;
    font-weight:700;

}

.card{

    background:#1E293B;

    padding:20px;

    border-radius:20px;

    margin-bottom:20px;

    box-shadow:0 12px 25px rgba(0,0,0,.35);

}

.card h2{

    margin-bottom:15px;

}

.weight{

    width:100%;

    padding:18px;

    border:none;

    border-radius:15px;

    background:#334155;

    color:white;

    font-size:26px;

}

.goal{

    margin-top:20px;

    text-align:center;

}

.goal span{

    font-size:38px;

    font-weight:bold;

    color:#22C55E;

}

.check{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:15px 0;

    border-bottom:1px solid #334155;

}

.check:last-child{

    border:none;

}

.check input{

    width:28px;

    height:28px;

}

.button{

    width:100%;

    background:#22C55E;

    border:none;

    color:white;

    padding:18px;

    border-radius:18px;

    font-size:20px;

    font-weight:bold;

    margin-top:15px;

}
.progress{

margin-top:20px;

height:16px;

background:#334155;

border-radius:20px;

overflow:hidden;

}

#bar{

width:0%;

height:100%;

background:#22C55E;

transition:.4s;

}
.header{

padding:20px;

padding-bottom:0;

}

.header h3{

font-size:30px;

}

.header p{

color:#94A3B8;

margin-top:5px;

}

.overview{

display:flex;

align-items:center;

justify-content:space-between;

margin-bottom:25px;

}

.circle{

width:120px;

height:120px;

border-radius:50%;

background:conic-gradient(#22C55E 0deg,#334155 0deg);

display:flex;

justify-content:center;

align-items:center;

font-size:28px;

font-weight:bold;

}

.overviewText{

width:55%;

}

.overviewText h2{

margin-bottom:10px;

}
